
panel {
    padding: 20px;
}

.center {
    text-align: center !important;
}

a.button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #0056f8;
    color: #ffffff !important;
    text-decoration: none;
}