
panel {
    padding: 20px;
}

.center, center {
    text-align: center;
}

button, .button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #0056f8;
    color: #ffffff;
    text-decoration: none;
}